.elem1 {
    background-color: hotpink;
}
.elem2 {
    background-color: darkcyan;
}
.elem3 {
    background-color: chartreuse;
}
.elem4 {
    background-color: indigo;
}
.elem5 {
    background-color: salmon;
}
.elem6 {
    background-color: darkgoldenrod;
}